// Input device configuration.
input {
    keyboard {
        xkb {
            layout "us,dk"
            options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
    }

    mouse {
    }

    touchpad {
        tap // enable tap-to-click
        natural-scroll
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus
}

